@font-face {
  font-family: "FiraSans-Bold";
  src: url("../FiraSans-Bold.woff2");
}

body > nav {
    border-bottom: var(--pico-border-width) solid transparent;
    background-color: var(--pico-background-color);
    --nav-link-spacing-vertical: 1rem;
    box-shadow: 0 1px 0 var(--pico-muted-border-color);
}

body > nav img {
    max-height: 2.8em;
}

nav details.dropdown summary + ul {
    right: 0;
    left: auto;
}

header {
    text-align: center;
    background: var(--pico-primary-background);
    background-color: var(--pico-primary-hover-background);
    opacity: 0.8;
    background: repeating-linear-gradient( 45deg, var(--pico-primary-background), var(--pico-primary-background) 15px, var(--pico-primary-hover-background) 15px, var(--pico-primary-hover-background) 25px );
}
header * {
    color: var(--pico-primary-inverse);
}
header h1 {
    font-family: "FiraSans-Bold";
    font-size: 3rem;
    font-weight: 700;
    font-stretch: ultra-condensed;
}
header .subtitle {
    font-size: 1.3em;
    font-weight: normal;
    font-style: italic;
    color: var(--pico-muted-color);
}

footer {
    border-top: var(--pico-border-width) solid var(--pico-muted-border-color);
    background-color: var(--pico-primary-background);    
}
footer * {
    color: var(--pico-primary-inverse);
}

footer dl {
    display: grid;
    grid-template-rows: auto auto;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
}
footer dl dd {
    margin: 0;
}
footer dl dt {
    font-weight: bold;
}

h2 {
    font-family: "FiraSans-Bold";
}
